@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: url("https://img.freepik.com/free-vector/luxury-background-modern-abstracts-minimalist-designs_343694-2454.jpg?t=st=1729971898~exp=1729975498~hmac=7ac845cd297ec82940a4f9b4a4c51324530765502fa59db1e6794bdc5ee21a03&w=2000");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}